<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="\img\1_mk1-6aYaf_Bes1E3Imhc0A.jpeg">
    </div>
    
    {{>footer}}
</body>

</html>